/* This is stylesheet for page 1 */


/*Static images. No animation on following elements.*/
body {
  background: rgb(14, 9, 107);
  background: linear-gradient(0deg,
      rgba(14, 9, 107, 0.9420810560552346) 5%,
      rgba(34, 172, 201, 0.9476832969515931) 100%);
}

.sand__img {
  position: absolute;
  max-width: 80%;
  max-height: 33%;
  transform: rotate(10deg);
  top: 87%;
  left: -2%;
  z-index: 20;
}

.sandcastle__img {
  position: absolute;
  max-width: 18%;
  max-height: 18%;
  top: 80%;
  left: 20%;
  z-index: 26;
}

.coral_red__img {
  position: absolute;
  max-width: 50%;
  max-height: 50%;
  left: 85%;
  top: 75%;
}


.coral_color__img {
  position: absolute;
  max-width: 30%;
  max-height: 30%;
  top: 75%;
  left: -5%;
  z-index: 20;
}

.pearl__img {
  position: absolute;
  max-width: 10%;
  max-height: 10%;
  top: 87%;
  left: 49%;
  z-index: 19;
}

/*crab animation slowly*/
.crab__img {
  position: absolute;
  max-width: 10%;
  max-height: 10%;
  top: 90%;
  left: 52%;
  z-index: 1;
  opacity: 0.6;
  animation: crabMove 2s infinite;
}

.crab2__img {
  position: absolute;
  max-width: 10%;
  max-height: 10%;
  top: 90%;
  left: 45%;
  z-index: 21;
  animation: crabMove2 2s infinite;

}

@keyframes crabMove {

  0% {

    transform: rotate(-35deg);
  }

  50% {

    transform: rotate(-31deg)
  }

  100% {
    transform: rotate(-35deg);
  }
}


@keyframes crabMove2 {

  0% {

    transform: rotate(35deg);
  }

  50% {

    transform: rotate(31deg)
  }

  100% {
    transform: rotate(35deg);
  }
}


/*Animation for diver facing downwards*/

.diver__img {
  position: absolute;
  max-width: 10%;
  max-height: 10%;
  top: 15%;
  left: 20%;
  z-index: 25;
  transform: rotate(90deg);
}

.light__img {
  position: absolute;
  max-width: 18%;
  max-height: 18%;
  top: 31%;
  left: 20%;
  z-index: 25;
  opacity: 0.5;
  transform: rotate(360deg);
}

.diver--animation {
  position: relative;
  top: -50%;
  left: -20%;
  animation: diveSwim 12s forwards;
}

@keyframes diveSwim {
  100% {
    left: 20%;
    top: 10%;
    transform: rotate(-45deg);
  }
}

/*Animation for submarine, going downwards. Also depth-effect */
.submarine__img {
  position: absolute;
  top: -50%;
  left: 65%;
  max-width: 40%;
  max-height: 40%;
  animation: moveDown 20s forwards 3s;
  z-index: 100;
}

.submarine--animation {
  animation: moveDown 20s forwards 3s;
}

@keyframes moveDown {
  0% {
    top: -25%;
    transform: scale(0.3);
    opacity: 0.4;
  }

  20% {
    top: 10%;
    opacity: 1;
  }

  50% {
    top: 30%;
    transform: scale(1);
    opacity: 1;
  }

  75% {
    top: 30%;
    transform: scale(1);
    opacity: 1;
  }

  100% {
    top: 100%;
    transform: scale(0.2);
    opacity: 0.4;
  }
}

/*Animation for weird fish 1 og 2. Going back and forth in the background*/

.weirdFish__img {
  position: absolute;
  opacity: 0.4;

  max-width: 10%;
  max-height: 10%;
  left: 5%;
  top: 60%;
}

.weirdFish--animation {
  animation: weirdSwim 10s linear infinite;
}

@keyframes weirdSwim {
  0% {
    transform: translate(0, 0) rotateY(180deg);
  }

  50% {
    transform: translate(200px, 0) rotateY(180deg);
  }

  51% {
    transform: translate(200px, 0) rotateY(0deg);
  }

  100% {
    transform: translate(0, 0) rotateY(0deg);
  }

  /*Using px here for weirdSwim animations. No impact on sizing/scaling */
}

.weirdFish2__img {
  position: absolute;
  opacity: 0.7;
  max-width: 10%;
  max-height: 10%;
  right: 30%;
  top: 55%;
}

.weirdFish--animation2 {
  animation: weirdSwim2 15s linear infinite;
}

@keyframes weirdSwim2 {
  0% {
    transform: translate(0, 0) rotateY(180deg);
  }

  50% {
    transform: translate(350px, 0) rotateY(180deg);
  }

  51% {
    transform: translate(350px, 0) rotateY(0deg);
  }

  100% {
    transform: translate(0, 0) rotateY(0deg);
  }
}

/*turtle animation. Almost same animation as the last one */

.turtleBrah__img {
  position: absolute;
  opacity: 0.3;
  max-height: 13%;
  right: 33%;
  top: 40%;
  animation: turtle 12s linear infinite;
  z-index: 2;
}

.turtleBrah--animation {
  animation: turtle 12s linear infinite;
}

@keyframes turtle {
  0% {
    transform: translate(0, 0) rotateY(180deg);
  }

  50% {
    transform: translate(-400px, 0) rotateY(180deg);
  }

  51% {
    transform: translate(-400px, 0) rotateY(0deg);
  }

  100% {
    transform: translate(0, 0) rotateY(0deg);
  }

  /*also using px here. No impact on zoom */
}

/* stoned shark. Just going from left to right past the whole screen */

.stonedShark__img {
  position: absolute;
  max-height: 13%;
  right: 50%;
  top: 40%;
  z-index: 3;
}

.stonedShark--animation {
  animation: stonedShark 20s linear forwards;
}

@keyframes stonedShark {
  from {
    left: -50%;
  }

  to {
    left: 140%;
  }
}

/* pearl blink animation. Simulating a shiny pearl */
.blink__img {
  position: absolute;
  max-width: 8%;
  max-height: 8%;
  top: 89.5%;
  left: 49%;
  z-index: 30;
}

.blink--animation {
  animation: blink 2s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*anchor animation. Two seperate pictures moving together simulating one picture*/
.anchor__img {
  position: absolute;

  max-width: 20%;
  max-height: 20%;
  transform: rotate(-20deg);
  top: 0%;
  left: 15.5%;
  z-index: 25;
}

.anchor--animation {
  animation: anchorMove 5s forwards 0.5s;
}

.rope__img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: -99%;
  left: 19.5%;
  z-index: 25;
  opacity: 0.7;
}

.rope--animation {
  animation: rope 5s forwards 0.5s;
}

@keyframes rope {
  100% {
    top: -30%;
  }
}

@keyframes anchorMove {
  100% {
    top: 70%;
  }
}

/*octopus animation*/

.octopus__img {
  position: absolute;

  max-width: 20%;
  max-height: 20%;
  left: 48%;
  top: 50%;
  z-index: 20;
}

.octopus--animation {
  animation: octopus 2s infinite;
}

@keyframes octopus {
  0% {
    top: 52%;
  }

  25% {
    top: 50%;
  }

  50% {
    top: 52%;
  }

  75% {
    top: 50%;
  }

  100% {
    top: 52%;
  }
}

/*Octopus greets the visitors/speech bubble when submarine arrives*/
.speechBubble {
  font-size: 1.24vmax;
  font-weight: bold;
  max-width: 13%;
  max-height: 30%;
  text-align: center;
  background: lightblue;
  color: navy;
  padding: 1vh 1vh 1vh 1vh;
  position: absolute;
  top: 50%;
  left: 54%;
  border-radius: 1vmax;

  z-index: 4;
}

.speechBubble--animation {
  animation: speak 20s linear forwards;
}

@keyframes speak {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*surface boat on the waves simulating waves.  Flask and trash animation doing the same*/

.boat__img {
  position: absolute;

  max-width: 38%;
  max-height: 38%;
  top: -30%;
  left: 2%;
}

.boat--animation {
  animation: boatWave 6s infinite;
}

@keyframes boatWave {
  0% {
    top: -30%;
  }

  25% {
    top: -29%;
  }

  50% {
    top: -30%;
  }

  75% {
    top: -29%;
  }

  100% {
    top: -30%;
  }
}

.flask__img {
  top: -5%;
  max-width: 15%;
  max-height: 15%;
  transform: rotate(70deg);
  position: absolute;
  left: 50%;
  opacity: 0.7;
}

.flask--animation {
  animation: flaskWave 5s infinite;
}

@keyframes flaskWave {
  0% {
    top: -5%;
  }

  25% {
    top: -4%;
  }

  50% {
    top: -5%;
  }

  75% {
    top: -4%;
  }

  100% {
    top: -5%;
  }
}

.trash1__img {
  top: -5%;
  max-width: 15%;
  max-height: 15%;
  transform: rotate(40deg);
  position: absolute;
  right: 10%;
  opacity: 0.6;
  z-index: 1;
}

.trash--animation {
  animation: trashWave 3s infinite;
}

@keyframes trashWave {
  0% {
    top: -5%;
  }

  25% {
    top: -4%;
  }

  50% {
    top: -5%;
  }

  75% {
    top: -4%;
  }

  100% {
    top: -5%;
  }
}

/*uses same trashWave animation here, but decreases duration for some inconsistensy between the two trashbags*/
.trash2__img {
  top: -5%;
  max-width: 15%;
  max-height: 15%;
  transform: rotate(-40deg);
  position: absolute;
  left: 9%;
  z-index: 1;
  animation: trashWave 2s infinite;
  opacity: 0.7;
}

/*Button for next page. Blinking to catch users attention*/

.button_nextPage {
  text-align: center;
  line-height: 150%;
  font-size: 1.25vmax;
  position: absolute;
  border: 0.5vh solid white;
  background: linear-gradient(0deg, rgb(0, 38, 77) 0%, rgb(51, 153, 255) 100%);
  z-index: 100;
  max-width: 15%;
  max-height: 10%;
  left: 65%;
  top: 85%;
  border-radius: 1vmax;
  color: white;
}

.button_nextPage--animation {
  animation: buttonAnimation 1.3s 20s infinite forwards;
}

a:link {
  color: white;
  text-decoration: none;
}

a:hover {
  background: linear-gradient(0deg, red 0%, white 100%);
}

a:visited {
  color: white;
  text-decoration: none;
}

@keyframes buttonAnimation {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.85);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(0.85);
  }

  100% {
    transform: scale(1);
  }
}