/* Dette er stylesheet for side 2 */

body {
    background: rgb(14,9,107);
    background: linear-gradient(0deg, rgba(14,9,107,0.9420810560552346) 5%, rgba(34,172,201,0.9476832969515931) 100%);
}



.page2_sand {

    position: absolute;
    max-width: 80%;
    max-height: 33%;
    transform:rotate(10deg);
    top: 87%;
    left: -2%;
    z-index: 20;

}

.page2_sandcastle {
    position: absolute;
    max-block-size: 18%;
    top: 80%;
    left: 22%;
    z-index: 20;
}

.page2_coral_red {
        position: absolute;
        max-block-size: 50%;
        left: 85%;
        top: 75%;
        

}

.page2_coral_color {
    position: absolute;
    max-block-size: 30%;
    top: 75%;
    left: -5%;
    z-index: 20;


}

.page2_boat {
    position: absolute;
    max-block-size: 38%;
    top: -30%;
    left: 2%;
}

.page2_crab {
    position: absolute;
    max-block-size: 10%;
    top: 90%;
    left: 52%;
    z-index: 1;
    transform: rotate(-35deg);
    opacity: 0.6;


}

.page2_crab2 {
    position: absolute;
    max-block-size: 10%;
    top: 90%;
    left: 45%;
    z-index: 21;
    transform: rotate(35deg);
    


}

.page2_pearl {
    position: absolute;
    max-block-size: 10%;
    top: 87%;
    left: 49%;
    z-index: 19;
    


}



/*animasjoner diver*/
.page2_diver_img_animation{
    position: absolute;
    max-block-size: 10%;
    top: 15%;
    left: 20%;
    z-index: 25;
    transform: rotate(90deg)
    }





.page2_light_img_animation {
    position: absolute;
    max-block-size: 18%;
    top: 33%;
    left: 21%;
    z-index: 25;
    opacity: 0.5;
    transform: rotate(360deg)
    


}

.diver_animation {
    position: relative;
    top: 0%;
    left: 0%;
    animation: swimAround 10s forwards;
    z-index: 30;


}


@keyframes swimAround {

    0% {
        top:1%;
        
    }

    50% {
        bottom: 100%;
        right:-10%;

    }
    90%{
        left: 50%;
        transform: rotate(-60deg);

    }

   

    100% {
        
        top:60%;

    }
}





/*animasjon for ubåt */
.allpages_sub_passangers_img_animation {
    position: absolute;
    left: 800px;
    max-width: 30%;
    max-height: 30%;
    animation: moveDown 20s forwards;
    z-index: 100;
    
}


@keyframes moveDown {
    0% {
        top: -250px;
    }

    50%
    {
        top: 250px;

    }
    75% {
        top: 250px;

    }

    100% {
        top: 1000px;

    }
}


/*Animation for weird fish 1 og 2*/

.weird_fish {
    position: absolute;
    opacity: 0.4;
    max-block-size: 10%;
    left: 50;
    top: 70%;
    animation: weirdSwim 6s linear infinite;

}

@keyframes weirdSwim {

    0%{
        transform: translate(0,0) rotateY(180deg);

    }
    50%{
        transform: translate(200px,0) rotateY(180deg);
    }
    51%{
            transform: translate(200px,0) rotateY(0deg);

    }
    100%{
        transform: translate(0,0) rotateY(0deg);

    }



}


.weird_fish2 {
    position: absolute;
    opacity: 0.7;
    max-block-size: 10%;
    right: 30%;
    top: 55%;
    animation: weirdSwim2 15s linear infinite;

}

@keyframes weirdSwim2 {

    0%{
        transform: translate(0,0) rotateY(180deg);

    }
    50%{
        transform: translate(350px,0) rotateY(180deg);
    }
    51%{
            transform: translate(350px,0) rotateY(0deg);

    }
    100%{
        transform: translate(0,0) rotateY(0deg);

    }



}



/*turtle animation*/

.page2_turtleBrah {
    position: absolute;
    opacity:0.3;
    max-height: 13%;
    transform:rotate(23deg);
    right: 50%;
    top: 40%;
    animation: turtle 12s linear infinite;
    z-index:2;
   

}
@keyframes turtle {

    0%{
        transform: translate(0,0) rotateY(180deg);
        
    }
    50%{
        transform: translate(-400px,0) rotateY(180deg);
    }
    51%{
            transform: translate(-400px,0) rotateY(0deg);

    }
    100%{
        transform: translate(0,0) rotateY(0deg);

    }





}


/* stoned shark */

.page2_stonedShark {
    position: absolute;
    max-height: 13%;
    right: 50%;
    top: 40%;
    animation: stonedShark 15s linear forwards;
    z-index:3;


}

@keyframes stonedShark {
    from {left:0px;}
    to {left:1500px;}


}


/* pearl blink animation */
.page2_blink {
    position: absolute;
    max-block-size: 8%;
    top: 89.5%;
    left: 49%;
    z-index: 30;

}


.blink--animation {

    animation: blink 2s infinite;
    animation-timing-function: cubic-bezier(0.5, 0, 1, 1);

}
@keyframes blink {

    0% {
        opacity:1;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 1;

    }
    75% {
        opacity: 0;

    }
    100% {
        opacity: 1;
    }
}



.page2_anchor {
    position: absolute;
    max-block-size: 20%;
    transform: rotate(-20deg);
    top: 100%;
    left: 22%;
    
}

.page2_rope {
    position: absolute;
    max-block-size: 3%;
    transform:rotate(90deg);
    bottom: 1000px;
    right: 40%;

}
/*anchor animation*/
.anchor img {
animation: anchorMove 5s forwards;


}
@keyframes anchorMove {
    0% {
        top: -100px
    }

    

    

   

    100% {
        top: 70%;

    }
}
