/* Dette er stylesheet for side 4 */

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 0.9420810560552346) 40%, rgba(26, 128, 150, 0.9476832969515931) 100%);
}
.ruins {
	position: absolute;
	z-index: 5;
	right: -5%;
	bottom: 0%;
}

.cliff_left {
	position: absolute;
	z-index: 6;
	left: 0%;
	bottom: 0%
}

.cliff_right {
	position: absolute;
	z-index: 4;
	transform: scaleX(-1);
	bottom: -20%;
	right: 5%;
}

.eyes {
	position: absolute;
	z-index: 7;
	height: 4%;
	width: 4%;
	right: 16%;
	bottom: 14%;
	transform: rotate(-10deg);
	animation-name: blinking;
	animation-duration: 3s;
	animation-iteration-count: infinite;

}

@keyframes blinking {
	0% {
		opacity: 1;
		scale: ;
	}

	50% {
		opacity: 0.3;
	}
	100%{
		opacity: 1;
	}
}

.shipwreck {
	position: absolute;
	z-index: 4;
	height: 12%;
	width: 7%;
	top: -17%;
	left: 18%;
	opacity: 0.5;
	transform: rotate(75deg);
	animation-delay: 2s;
	animation-name: sinking;
	animation-duration: 11s;
	animation-iteration-count: 1;
}

.shipwreck_trail {
	position: absolute;
	z-index: 3;
	height: 7%;
	width: 7%;
	top: -25%;
	left: 17%;
	opacity: 0.7;
	transform: rotate(95deg);
	animation-delay: 2s;
	animation-name: sinkingTrail;
	animation-duration: 11s;
	animation-iteration-count: 1;
}

/* Animasjonene for skipet og sporet etter skipet måtte være separate for at de skulle "matche" hverandre */
@keyframes sinking {
	0% {
	}

	100% {
		top: 60%;
	}
}

@keyframes sinkingTrail {
	0% {
	}
	
	100% {
		top: 55%
	}
}

.monster {
	position: absolute;
	z-index: 5;
	transform: scaleX(-1);
	height: 20%;
	width: 20%;
	top: 27%;
	left: -7%;
	animation-delay: 7s;
	animation-name: peekaboo;
	animation-duration: 8s;
	animation-iteration-count: 1;
}

@keyframes peekaboo {
	0% {
		left: -7%;
		top: 27%;
	}

	50% {
		left: 2.5%;
		top: 22%;
	}

	100% {
		left: -7%;
		top: 27%;
	}
}

.submarine {
	position: absolute;
	height: 15%; 
	width: 15%;
	z-index: 7;
	right: 10%;
}

.sub_trail {
	position: absolute;
	height: 10%;
	width: 10%;
	opacity: 0.7;
	z-index: 7;
	right: 2.5%;
	top: 4.5%;
}

.magnet {
	position: absolute;
	height: 8%;
	width: 5%;
	z-index: 6;
	right: 16%;
	top: 13%;
}

.searchlight {
	position: absolute;
	height: 18%;
	width: 6%;
	opacity: 0.7;
	z-index: 7;
	transform: rotate(90deg);
	right: 25.2%;
	top: 1.7%;
}

.submarine_mission {
	position: absolute;
	z-index: 6;
	height: 100%; 
	width: 100%;
	left: 15%;
	top: -20%;
	animation-name: treasureDive;
	animation-delay: 1s;
	animation-duration: 18s;
	animation-iteration-count: 1;
}

.treasure {
	position: absolute;
	height: 17%;
	width: 17%;
	z-index: 6;
	bottom: 5%;
	right: 26%;
	animation: treasureGet;
	animation-delay: 1.5s;
	animation-duration: 19.1s;
	animation-iteration-count: 1;
}

@keyframes treasureDive {
	0% {

	}

	48% {
		top: 64.5%;
		left: -15%;
	}

	52% {
		top: 64.5%;
		left: -15%;
	}

	100% {
		top: -27%;
		left: -30%;
	}
}

@keyframes treasureGet {
	0% {
		bottom: 5%;
		right: 26%;
		z-index: 6;
	}
	46% {
		bottom: 5%;
		right: 26%;
		z-index: 6;
	}
	90% {
		z-index: 6;
	}
	100% {
		bottom: 109%;
		right: 42%;
		z-index: 1;
	}
}